In [3]:
from collections import OrderedDict
import pandas as pd

data = OrderedDict([('data(xxx_a1)_first_type', 0.12),
                    ('data(xxx_a2)_first_type', 0.14),
                    ('test(xx_b15)_second_type', 0.15)])

In [4]:
data

OrderedDict([('data(xxx_a1)_first_type', 0.12),
             ('data(xxx_a2)_first_type', 0.14),
             ('test(xx_b15)_second_type', 0.15)])

In [5]:
data.keys()

odict_keys(['data(xxx_a1)_first_type', 'data(xxx_a2)_first_type', 'test(xx_b15)_second_type'])

In [6]:
data.values()

odict_values([0.12, 0.14, 0.15])

import pandas as pd
df =pd.read_json('employee.json')

In [8]:
df

                             0
0.12   data(xxx_a1)_first_type
0.14   data(xxx_a2)_first_type
0.15  test(xx_b15)_second_type

In [11]:
import pandas as pd
import json
with open('/Users/msaha/Work/Projects/Flock/fiveobjects/github/reference/data/app-consul.json', 'r') as f:
    data = json.load(f)

In [12]:
df =pd.DataFrame(data)

In [13]:
df

                                               limitsconf
limits  [{'api': 'PUBLISH', 'valueType': 'REQUEST', 's...

In [14]:
data

{'limitsconf': {'limits': [{'api': 'PUBLISH',
    'valueType': 'REQUEST',
    'serviceName': 'default',
    'time': {'HOURLY': '10', 'MINUTE': '10000'}}]}}

In [25]:
df1=pd.read_json('{"_id":"5d3c29fdb1b0fd22182ae683","personName":"Damian","userIdentificationEMAIL":"dbonda@gmail.com","dateofbirth":"14.07.2000","grad":"Los Angeles","postanskibroj":"2B","ulica":"Jackovina","drzava":"California","faiID":"123456789","nacionalniID":"000"},"request":{"type":"GET","url":"http://localhost:3000/products"}}', orient='records')

ValueError: Trailing data