In [67]:
import pandas as pd

In [68]:
from pandas import DataFrame

In [69]:
df = pd.read_csv(r'data/user.csv', header='infer', sep=';')

In [70]:
df

   Id First Name     Name Country            Email
0   0       Paul     TRUC      FR   test@gmail,com
1   1      Henry  DEFAULT      US  test1@gmail.com
2   2       John     TEMP      GB  test2@gmail.com

In [71]:
json = df.to_json(orient='records')

In [72]:
json

'[{"Id":0,"First Name":"Paul","Name":"TRUC","Country":"FR","Email":"test@gmail,com"},{"Id":1,"First Name":"Henry","Name":"DEFAULT","Country":"US","Email":"test1@gmail.com"},{"Id":2,"First Name":"John","Name":"TEMP","Country":"GB","Email":"test2@gmail.com"}]'